﻿@{
    ViewData["Title"] = "ST_Marks HomePage";
}

<div class="row">
    <div class="col-md-12">
        <h1 style="text-align:center">ST_Marks</h1>
        <h2 style="text-align:center">Application for student Marks without Engels</h2>
    </div>
</div>
