﻿@model IEnumerable<ST_Marks.Models.MarksViewModel>
@{
	ViewData["Title"] = "Marks";
}
<h2>Marks</h2>
<br />
<h3 id="Status"></h3>
<br />
<table class="table">
	<thead>
		<tr>
			<th>Students</th>
			@if (Model.Count() > 0)
			{
				@foreach (var item in Model.FirstOrDefault().CourseMarks)
				{
					<th>@item.CourseName</th>
				}
			}
			<th></th>
		</tr>
	</thead>

	<tbody>
		@if (Model.Count() > 0)
		{
			@foreach (var item in Model)
			{
				string selectedRow = item.StudentId.ToString();
				
				<tr class="@selectedRow" asp-for="@item.StudentId">

					<td asp-for="@item.StudentId">@item.StudentName</td>

					@foreach (var course in item.CourseMarks)
					{
						<td>
							<input id="@course.MarkId" class="form-control" value="@course.Mark" />
						</td>
					}
				</tr>
			}
		}
	</tbody>
		
</table>

@section Scripts {
	<script type="text/javascript">
		function changeMark(id) {
			var markId = parseInt(id);
			var markVal = parseInt(document.getElementById(id).value);
			
            $.ajax({
                url: "/Marks/Change",
                type: "POST",
				data: { Id: markId, Value: markVal },
                success: function (data) {
					$("#Status").empty();
					$("#Status").append("<b> Saved </b>");
                },
				error: function (ex) {
					console.log("Exception->", ex);
					$("#Status").empty();
					$("#Status").append("<b> Error </b>");
                }
            });
		}

		$(document).on('change', ".form-control", function () {
			changeMark($(this).attr('id'));
		});

	</script>

}

